<div class="main-container">
<div class="container">
  <div>
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input 
         #addMemberInput
         type="text" 
         placeholder="Name" 
         (input)="onInput(addMemberInput.value)"
         [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input type="text" placeholder="# of teams" />
      <button>Generator</button>
    </div>
  </div>
</div>
</div>

